:root {
	--accent-fb: hsl(208, 92%, 53%);
	--accent-tw: hsl(203, 89%, 53%);
	--accent-ig: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
	--accent-yt: hsl(348, 97%, 39%);

	--accent-positive-stat: hsl(163, 72%, 41%);
	--accent-negative-stat: hsl(356, 69%, 56%);

	--toggle-bg-color: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

	--default-transition: 0.3s ease-in-out;
}

.dashboard--dark {
	--toggle-knob-color: hsl(233, 30%, 21%);
	--header-border: #fff1;
	--bg: hsl(230, 17%, 14%);
	--bg-pattern: hsl(232, 19%, 15%);
	--card-bg: hsl(228, 28%, 20%);
	--card-bg-hov: hsl(228, 26%, 27%);
	--primary-font-color: hsl(228, 34%, 66%);
	--secondary-font-color: hsl(0, 0%, 100%);
}

.dashboard--light {
	--toggle-knob-color: hsl(230, 22%, 95%);
	--header-border: #0001;
	--bg: hsl(0, 0%, 100%);
	--bg-pattern: hsl(225, 100%, 98%);
	--card-bg: hsl(227, 47%, 96%);
	--card-bg-hov: hsl(232, 33%, 91%);
	--primary-font-color: hsl(228, 12%, 44%);
	--secondary-font-color: hsl(230, 17%, 14%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 700;
}

.dashboard {
	padding: 2.75rem 1.75rem;
	background-color: var(--bg);
	color: var(--primary-font-color);
	transition: background-color var(--default-transition), color var(--default-transition);
}

.dashboard__top {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 0;
	margin-bottom: 3rem;
}

.dashboard__top::after {
	content: '';
	position: absolute;
	top: -3rem;
	left: calc(-1.75rem);
	border-radius: 0 0 1.75rem 1.75rem;
	width: calc(100% + 3.5rem);
	height: calc(100% + 9rem);
	background-color: var(--bg-pattern);
	z-index: -1;
	transition: background-color var(--default-transition);
}

.dashboard__header {
	margin: 0 auto 1rem;
	width: 100%;
	max-width: 1110px;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid var(--header-border);
	transition: border-bottom-color var(--default-transition);
}

.dashboard__heading {
	margin: 0 0 0.5rem;
	font-size: 1.75em;
	color: var(--secondary-font-color);
	transition: color var(--default-transition);
}

.dashboard__total {
	font-size: 1.1em;
}

.toggle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	max-width: 1110px;
}

.toggle__name {
	font-size: 1.1em;
}

.toggle__label {
	border-radius: 1rem;
	overflow: hidden;
}

.toggle__checkbox {
	position: absolute;
	pointer-events: none;
	opacity: 0;
}

.toggle__switch {
	display: block;
	position: relative;
	width: 48px;
	height: 24px;
	background-image: var(--toggle-bg-color);
	cursor: pointer;
}

.toggle__switch::after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	background: var(--toggle-knob-color);
	transform: translateX(24px);
	transition: transform var(--default-transition), background var(--default-transition);
}

.toggle__checkbox:checked ~ .toggle__switch::after {
	transform: translateX(0);
}

.dashboard__summary {
	position: relative;
	z-index: 0;
	margin: 0 auto 3.5rem;
	width: 100%;
	max-width: 1110px;
}

.dashboard__summary,
.stats {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem 1.75rem;
}

.sm-summary {
	position: relative;
	padding: 1.75rem;
	border-top: 5px solid transparent;
	border-radius: 5px;
	background-color: var(--card-bg);
	background-clip: padding-box;
	text-align: center;
	cursor: pointer;
	transition: background-color var(--default-transition);
}

.sm-summary:hover {
	background-color: var(--card-bg-hov);
}

.sm-summary:nth-last-child(1) {
	margin-bottom: 0;
}

.sm-summary--facebook::after,
.sm-summary--twitter::after,
.sm-summary--instagram::after,
.sm-summary--youtube::after {
	content: '';
	position: absolute;
	left: 0;
	top: -5px;
	z-index: -1;
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

.sm-summary--facebook::after {
	background: var(--accent-fb);
}

.sm-summary--twitter::after {
	background: var(--accent-tw);
}

.sm-summary--instagram::after {
	background: var(--accent-ig);
}

.sm-summary--youtube::after {
	background: var(--accent-yt);
}

.sm-summary__wrapper {
	display: inline-flex;
	align-items: center;
}

.sm-summary__profile {
	margin-left: 7px;
}

.sm-summary__current-value {
	margin: 1.5rem 0 0.5rem;
	font-size: 4em;
	color: var(--secondary-font-color);
	transition: color var(--default-transition);
}

.sm-summary__fan-name {
	margin: 0 0 1.5rem;
	font-size: 0.9em;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.sm-summary__value-difference {
	margin-left: 4px;
}

.sm-icon {
	display: block;
	width: 22px;
	height: 22px;
}

.caret {
	display: block;
}

.caret--up ~ .sm-summary__value-difference,
.caret--up ~ .percentage__value {
	color: var(--accent-positive-stat);
}

.caret--down {
	margin-top: 4px;
}

.caret--down ~ .sm-summary__value-difference,
.caret--down ~ .percentage__value {
	color: var(--accent-negative-stat);
}

.sm-summary__profile {
	font-size: 0.9em;
}

.overview {
	margin: 0 auto;
	width: 100%;
	max-width: 1110px;
}

.overview__heading {
	margin: 0 0 1.5rem;
	font-size: 1.7em;
	color: var(--secondary-font-color);
	transition: color var(--default-transition);
}

.stat {
	padding: 1.75rem 2rem;
	border-radius: 5px;
	background-color: var(--card-bg);
	cursor: pointer;
	transition: background-color var(--default-transition);
}

.stat:hover {
	background-color: var(--card-bg-hov);
}

.stat__wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.stat__title {
	font-size: 1em;
}

.stat__count {
	font-size: 2.5em;
	color: var(--secondary-font-color);
}

.stat__wrapper:nth-last-child(1) {
	align-items: flex-end;
	margin-bottom: 0;
}

.percentage {
	display: flex;
	align-items: center;
}

.percentage__value {
	margin-left: 4px;
	font-size: 0.9em;
}

.stat__title {
	margin: 0;
}

.attribution {
	font-size: 0.733em;
	font-weight: 400;
	text-align: center;
}

.attribution__anchor {
	color: hsl(228, 45%, 44%);
}

@media (min-width: 580px) {
	.dashboard__summary,
	.stats {
		grid-template-columns: repeat(2, minmax(255px, 1fr));
	}
}

@media (min-width: 1000px) {
	.dashboard {
		padding: 2.75rem 1.75rem 5rem;
	}

	.dashboard__summary,
	.stats {
		grid-template-columns: repeat(4, minmax(min-content, 1fr));
	}
}
